.mail-filter {
    grid-area: 2 / 1 / -1 / -1;
}

.mail-filter ul {
    list-style-type: none;
    padding: 0;
}

.mail-filter ul li {
    padding: 0 40px;
}

.mail-filter button {
    background-color: transparent;
    border: none;

    font-size: 1em;
    padding: 10px 20px;
}

.mail-filter .active {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    background-color: rgb(195, 220, 252);
    width: 19%;
}

.mail-filter .btn-inbox,.btn-drafts {
    font-weight: bold;
}
