.mail-list {
    grid-area: 1 / 2 / -1 / -1;

    border-radius: 20px;
    background-color: white;
    /* background-color: #F2F6FC; */
}

.mail-list ul {
    padding: 0;
}

.mail-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

.mail-list li.read {
    background-color: #F2F6FC;
}

.mail-list li:hover {
    border: 1px solid;
}

.mail-type {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;

    border-bottom: 2px solid blue;
    
    height: 100%;
    padding: 20px;
    border-radius: 20px;

    color: #0B57D0;
}



