.mail-compose {
    display: flex;
    align-items: center;
    justify-content: start;

    padding: 20px;
}

.mail-compose button {
    height: 100%;
    
    border: none;
    border-radius: 10px;
    
    background-color: #C2E7FF;
}

.mail-compose-editor button {
    display: inline-block;

    height: 20px;
    background-color: aqua;
}

.mail-compose-editor {
    display: flex;
    flex-direction: column;
    
    position: fixed;
    top: 5.53%; 
    bottom: 4.47%; 
    left: 27.31%; 
    right: 27.31%; 
    width: 46.15%; 
    height: 89.47%; 
    z-index: 4001;
    border-radius: 2em;

    background-color: red;
}
