.mail-list {
    grid-area: 1 / 2 / -1 / -1;
    
    background-color: #F2F6FC;
}

.mail-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid #ddd;
    padding: 10px 0;
    cursor: pointer;
}

.mail-list li:hover {
    border: 2px solid;
}

.criteria {
    display: flex;
    justify-content: space-around;

    padding: 20px;
    background-color: white;

    color: #0B57D0;
}



