.mail-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.mail-preview h4 {
    font-weight: normal;
}

.mail-preview.unread h4{
    font-weight: bold;
}

.mail-preview h4.sender {
    width: 168px;
}

.mail-preview h4.subject {
    flex-grow: 1;
}
