.mail-filter {
    grid-area: 2 / 1 / -1 / -1;
}

.mail-filter ul {
    list-style-type: none;
}

.mail-filter button {
    background-color: transparent;
    border: none;

    font-size: 1em;
    padding: 10px 20px;
}

.mail-filter .active {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightblue;
    width: 15%;
}