.mail-preview {
    display: flex;
    /* justify-content: space-between; */

    width: 100%;
}

.mail-preview.read {
    font-weight: normal;
    color: blueviolet;
}

.mail-preview.unread {
    font-weight: bold;
}

.mail-preview h4 {
    
}