 /* note list */
 .note-list{
  columns: 15em;
  margin-right:2em ;
 }
 .note-list > * {
  break-inside: avoid;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
 
 .note-list .note-list-li{
   position: relative;
    border: 0.05em solid black;
    width: 100%;
    list-style-type: none;
    border-radius: 1em;
 }
 



 /* 18px  between row in ul. conver it to em  width gap...*/
 /* 100px  between row in ul. convert it to em height gap...*/
 /* 70 height from a search bar that will be */

 /* search bar will be 30 px in height from header... to remember */

 /* width of every li alway 240px! convert it to em*/

 