header {
    /* height: 46px; */
    padding: 8px;
    /* background: lightcyan; */
    background-color: #f6f8fc;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 400px;
    height: 46px;
    border-radius: 24px;
    background-color: #f1f3f4;
}

.search-bar input{
    outline: none;
}

.search-bar .btn-search, input {
    border: none;

    background-color: transparent;
}